In [3]:
import numpy as np

In [4]:
import pandas as pd

In [ ]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d={'a':10,'b':20,'c':30}

In [ ]:
print(type(labels))
print(type(my_data))

In [19]:
print(type(arr))
print(type(d))

<class 'list'>
<class 'list'>
<class 'numpy.ndarray'>
<class 'dict'>

In [20]:
pd.Series(data = my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [21]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [23]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [25]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [26]:
ser2 = pd.Series([1,2,5,4],['USA','Germnay','Italy','Japan'])

In [27]:
ser2

USA        1
Germnay    2
Italy      5
Japan      4
dtype: int64

In [31]:
ser3 = pd.Series(data=labels)

In [32]:
ser3

0    a
1    b
2    c
dtype: object